# Виртуальное окружение
venv/

# Кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# VSCode настройки (если не хочешь шарить)
.vscode/

# Файл с секретами
.env